@inherits LayoutComponentBase

<main class="d-flex flex-column min-vh-100">
    <NavMenu/>

    <article class="content px-4 flex-fill d-flex pt-2">
        @Body
    </article>
</main>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">X</a>
</div>